# Iris Flower Class Prediction
### Hari Krishna P A

In [15]:
import pandas as pd

### Reading the dataset

In [16]:
df=pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

### Checking for any null values

In [17]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

### Converting the output column of string to numeric class

In [18]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
encoded_values = encoder.fit_transform(df['Species'])
df['Species'] = encoded_values
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

### Spliting the dependent and independent variables for classification

In [19]:
X=df.drop('Species',axis=1)
Y=df['Species']

### Spliting the dataset for training and testing

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

### Training the model using RandomForestClassifier

In [21]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier()
classifier.fit(X_train, Y_train)

RandomForestClassifier()

In [22]:
from sklearn.metrics import accuracy_score, classification_report
Y_pred = classifier.predict(X_test)

### Evaluating the Model

In [23]:
accuracy = accuracy_score(Y_test, Y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

### Tesing with the X_test

In [24]:
predictions=classifier.predict(X_test)
print("Predictions: ",predictions)

Predictions:  [1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0]

### Creating a new testing dataset from original dataset inorder to see whether our model is accurate

In [25]:
new_df=pd.read_csv("Iris.csv")
row_indices=[49,50,99,100,148,149]
new_test_data = new_df.loc[row_indices]
new_test_data=new_test_data.drop("Species",axis=1)
new_test_data

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
49    50            5.0           3.3            1.4           0.2
50    51            7.0           3.2            4.7           1.4
99   100            5.7           2.8            4.1           1.3
100  101            6.3           3.3            6.0           2.5
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

In [26]:
predictions=classifier.predict(new_test_data)
print("Predictions: ",predictions)

Predictions:  [0 1 1 2 2 2]

### Comparing the above predictions to see whether the model had predicted the respictive class accurately

In [27]:
row_indices=[49,50,99,100,148,149]
sample_test_data=new_df.loc[row_indices]
sample_test_data['predictions'] = predictions #adding the above prediction to the testing dataframe to compare its class
sample_test_data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,predictions
49,50,5.0,3.3,1.4,0.2,Iris-setosa,0
50,51,7.0,3.2,4.7,1.4,Iris-versicolor,1
99,100,5.7,2.8,4.1,1.3,Iris-versicolor,1
100,101,6.3,3.3,6.0,2.5,Iris-virginica,2
148,149,6.2,3.4,5.4,2.3,Iris-virginica,2
149,150,5.9,3.0,5.1,1.8,Iris-virginica,2

### The above model performs well and predicts the class accurately